<!doctype html >
<html ng-app="songbrowser">
	<head>
		<meta charset="utf-8"/>

		<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
		<link rel="stylesheet" href="//bootswatch.com/yeti/bootstrap.min.css">
		<link href='http://fonts.googleapis.com/css?family=Cantarell:400,400italic' rel='stylesheet' type='text/css'>

		<style>
			* {
				font-family: Calibri, Cantarell !important;
			}
		</style>
		<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css"> -->

	</head>

	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="#/">Genre List</a>
				<a class="navbar-brand" href="#/create">Add Song</a>
				<a class="navbar-brand" href="#/add_genre">Add Genre</a>
			</div>
		</nav>
		<div class="container" ng-view> </div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-route.js"></script>

		<script>
			app = angular.module("songbrowser", ['ngRoute']);

			var data_provider = function($http) {
				this.$http = $http;
			}

			data_provider.prototype = {
				"list_genres": function() {
					return this.$http.get("/all_genres");
				},
				"get_songs_for_genre": function(genre) {
					return this.$http.get("/get_songs?genre=" + genre);
				},
				"add_song_to_genre": function(genre, song) {
					return this.$http.post("/add_song?genre=" +
					encodeURIComponent(genre) + "&title="+encodeURIComponent(song.title)+"&artist="+encodeURIComponent(song.artist)+
					"&duration="+encodeURIComponent(song.duration)+"&audioFilename="+encodeURIComponent(song.audioFilename)+
					"&audioFiletype="+encodeURIComponent(song.audioFiletype));
				},
				"add_genre": function(genre) {
					return this.$http.post("/add_genre?genre=" + encodeURIComponent(genre));
				}
			}

			app.factory("data", function($http) { return new data_provider($http); });

			function GenreListController($scope, data) {
				$scope.genres = undefined;
				data.list_genres().success(function(genres) { $scope.genres = genres; });
			}

			function GenreDetailsController($scope, data, $routeParams) {
				$scope.songs = undefined;
				data.get_songs_for_genre($routeParams.genre).success(function(songs) { $scope.songs = songs });
			}

			function CreateSongController($scope, data) {
				$scope.update = function() {
					data.add_song_to_genre($scope.genre, $scope.song).success(function(ignore) { console.log(ignore); $location = "#/genre" + $scope.genre; });
				}
			}

			function CreateGenreController($scope, data) {
				$scope.update = function() {
					data.add_genre($scope.genre);
				}
			}

			app.config(function($routeProvider) {
				// $locationProvider.html5Mode(true);
				var genresPage   = { templateUrl: 'genre_list.html', controller: GenreListController };
				var genrePage    = { templateUrl: 'genre_details.html', controller: GenreDetailsController };
				var addSongPage  = { templateUrl: 'create_song.html', controller: CreateSongController };
				var addGenrePage = { templateUrl: 'add_genre.html', controller: CreateGenreController };
				$routeProvider.when('/', genresPage);
				$routeProvider.when('/genre/:genre', genrePage);
				$routeProvider.when('/create', addSongPage);
				$routeProvider.when('/add_genre', addGenrePage);
				$routeProvider.otherwise({redirectTo: '/'});
			});
		</script>

		<script type="text/ng-template" id="genre_list.html">
			<ul>
				<li class="genre-link" ng-repeat="genre in genres">
					<a ng-href="#/genre/{{genre}}">{{ genre }}</a>
				</li>
			</ul>
		</script>

		<script type="text/ng-template" id="genre_details.html">
			<table class="table">
				<thead>
					<tr>
						<th>Title</th>
						<th>Artist</th>
						<th>Duration (s)</th>
						<th>File Type</th>
						<th>File Name</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="song in songs">
						<td>{{song.title}}</td>
						<td>{{song.artist}}</td>
						<td>{{song.duration}}</td>
						<td>{{song.audioFiletype}}</td>
						<td>{{song.audioFilename}}</td>
					</tr>
				</tbody>
			</table>
		</script>

		<script type="text/ng-template" id="create_song.html">
			<h2>Enter Song Information</h2>
			<form novalidate role="form" class="simple-form">
				<div class="form-group">
					<label for="songtitle">Title</label>
					<input type="text" class="form-control" ng-model="song.title" id="songtitle" placeholder="The Safety Dance">
				</div>
				<div class="form-group">
					<label for="songartist">Artist</label>
					<input type="text" class="form-control" ng-model="song.artist" id="songartist" placeholder="Men Without Hats">
				</div>
				<div class="form-group">
					<label for="songduration">Duration (seconds)</label>
					<input type="text" class="form-control" ng-model="song.duration" id="songduration" placeholder="382">
				</div>
				<div class="form-group">
					<label for="songaudioFiletype">Filetype</label>
					<input type="text" class="form-control" ng-model="song.audioFiletype" id="songaudioFiletype" placeholder="mp3">
				</div>
				<div class="form-group">
					<label for="songartist">File name</label>
					<input type="text" class="form-control" ng-model="song.audioFilename" id="songartist" placeholder="The_Safety_Dance.mp3">
				</div>
				<div class="form-group">
					<label for="songartist">Genre</label>
					<input type="text" class="form-control" ng-model="genre" id="songartist" placeholder="Alternative">
				</div>

				<button ng-click="update(song)" type="button" class="btn btn-primary">Submit</button>
			</form>
		</script>

		<script type="text/ng-template" id="add_genre.html">
			<input type="text" placeholder="alternative" ng-model="genre" />
			<button ng-click="update()">submit</button>
		</script>
	</body>
</html>
